body {
  margin: 0;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100vh;
  width: 100vw;
}

#logo {
  height: 60px;
  width: 60px;
}

.socialMedia {
  height: 20px;
  width: 22px;
}

.detailDiv{
  display: flex;
  align-items: center;
  margin: 3% 2% 0;
  max-height: 400px;
  justify-content: space-around;
  border: 1px solid black;
}
#slideShow{
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid black ;
}
#slideShow .carousel-item > div >img {
  max-height: 350px;
  padding: 1% 20% ;
}

#descriptionDiv {
  margin: 1% 4% 2%;
}

#form{
  display: flex;
  height: 90%;
  width: 30%;
  padding: 0 2%;
  flex-direction: column;
  justify-content: space-around;
}
.inputs{
  display: flex;
  justify-content: space-between;
}
.inputs > input{
  width: 60%;
}
#submitButton{
  display: flex;
  justify-content: center;
}
#submitButton input{
  padding: 2%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rosybrown;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rosybrown;
}
@media only screen and (min-width:576px) and ( max-width:768px) {
  .detailDiv{
    min-height: 380px;
    max-height: 380px;
    max-width: 650px;
    min-width: 650px;
  }
  #slideShow{
    max-height: 380px;
    min-height: 380px;
    max-width: 380px;
    min-width: 380px;
  }
  #slideShow .carousel-item > div >img {
    max-height: 380px;
    min-height: 380px;
    max-width: 550px ;
    min-width: 550px;
    margin: 20% 15% 20% 0;
  }
  #form{
    display: flex;
    height: 100%;
    width: 40%;
    padding: 1% 1%;
    flex-direction: column;
    justify-content: space-between;
  }
  
}
@media only screen and (max-width:576px){
  .detailDiv{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 90%;
    min-height: 700px;
  }
  #slideShow{
    border-right: hidden;
    border-bottom: 1px solid black;
    max-width: 100%;
    min-width: 100%;
  }
  #slideShow .carousel-item > div >img {
    margin: 1% ;
    min-width: 500px;
    min-height: 320px;
  }
  #form{
    display: flex;
    height: 100%;
    width: 80%;
    padding: 3% 2%;
    flex-direction: column;
    justify-content: space-evenly;
  }
 

}