body {
  margin: 0;
  background-color: #e0e0e0;
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  width: 100%;
}

#logo {
  height: 60px;
  width: 60px;
}

.socialMedia {
  height: 20px;
  width: 22px;
}

.hotelImage {
  height: 200px;
  width: 250px;
}

.hotelDivs {
  display: flex;
  margin: 2%;
  background-color: lightgray;
  width: 40%;
}

.description{
  margin-left: 4%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login {
  box-sizing: border-box;
  color: black;
  float: right;
  height: 100%;
  padding: 18px 10px;
}

#mapView {
  display: none;
}

#listView {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
}
#listView > div{
  margin-left: 6%;
}

#listView > div:hover{
  background-color: rosybrown;
}

#contentDiv>ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#contentDiv>ul>li {
  margin: 0 2%;
}

#container{
  text-align: center;

}

/*  */
#container .btn-outline-primary {
  border: none;
  color: black;
}
#container .btn-outline-primary:hover {
  color: black;
  background-color: transparent;
}
#container .btn-outline-primary:focus {
  box-shadow: none;
  color: black;
}
#container .btn-outline-primary:active {
  box-shadow: none;
  color: black;
}
#container .btn-check:checked + .btn-outline-primary {
  box-shadow: none;
  color: black;
  background-color: #0d6efd;
}
#map-view-button:checked ~ #mapView {
  display: flex;
}
#map-view-button:checked ~ #listView {
  display: none;
}

#list-view-button:checked ~ #listView {
  display: flex;
}
#list-view-button:checked ~ #mapView {
  display: none;
}
#container label{
  margin-top: 2%;
}
.btn-check{
  visibility: hidden;
}