body{
    margin: 0;
    background-color: #e0e0e0;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
#container{
    height: 100vh;
    width: 100vw;
}
#logo{
    height: 60px;
    width: 60px;
}
.socialMedia{
    height: 20px;
    width: 22px;
}   
.hotelImage{
    height: 500px;
    width: 500px;
}
#descriptionDiv{
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}
#customerInfoDiv{
    margin: 2%;
}
#tarrifDiv{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}